<section style="padding-top: 8em;">
    {{#if products}}
    <div class="container">
        <h1 class="text-center">Your Cart</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Items</th>
                    <th scope="col">title</th>
                    <th scope="col">Price</th>
                    <th scope="col">quantity</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img style="height: 70px;width: 70px;" src="/product-images/{{this.product._id}}.jpg" alt="">
                    </td>
                    <td>{{this.product.name}}</td>
                    <td>Rs.{{this.product.price}}</td>
                    <td>
                        <button class=" cart-item-count btn"
                            onclick='changeQuantity("{{this._id}}","{{this.product._id}}","{{../user._id}}",-1)'>-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class=" cart-item-count btn"
                            onclick='changeQuantity("{{this._id}}","{{this.product._id}}","{{../user._id}}",1)'>+</button>
                    </td>
                    <td><a onclick='removeItem("{{this._id}}","{{this.product._id}}")' class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <h5 class="float-right mr-5 mt-4">TOTAL:RS. <span id="total">{{totalValue}}</span></h5><br><br><br>
        <a href="/place-order" class="btn btn-success float-right mr-4 pt-0 pb-0 pl-5 px-5">Place Order</a>
    </div>
    {{else}}
    <h1 class="text-center">Cart Is Empty</h1>
    {{/if}}
</section>

<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product Removed From Cart")
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById("total").innerHTML = response.total
                }
            }
        })
    }
    function removeItem(cartId, proId) {
        $.ajax({
            url: "/remove-cart-item",
            data: {
                cart: cartId,
                product: proId
            },
            method: 'post',
            success: (response) => {
                alert("Product Removed From Cart")
                location.reload()
            }
        })
    }
</script>