<section style="padding-top: 8em;">
    {{#if order}}
    <div class="container">
        <h1 class="text-center">Your Orders</h1>
        {{#if pending}}
        <a href="/pending-orders" class="btn btn-warning float-right">Pending Orders</a>
        {{/if}}
        <div style="margin-top: 5em;" class="col-12">
            <table class="table" id="ordersTable">
                <thead>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Pincode</th>
                    <th>Mobile</th>
                    <th>Amount</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th>options</th>
                </thead>
                <tbody>
                    {{#each order}}
                    <tr>
                        <td style="width: 17em;">{{this.date}}</td>
                        <td>{{this.deliveryDetails.address}}</td>
                        <td>{{this.deliveryDetails.pincode}}</td>
                        <td>{{this.deliveryDetails.mobile}}</td>
                        <td>{{this.totalAmount}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
    <h1 class="text-center">No Orders</h1>
    {{/if}}
</section>
<script>
    $(document).ready( function () {
    $('#ordersTable').DataTable();
} )
</script>