<section>
    <div class="container" style="padding-top: 5em;">
        <div class="" >
            <h3 class="text-center">Categories</h3>
            <div class="row col-md-12" style="padding-left:10em ;">
                <a href="/category/Mobile" class="btn">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuFdVngkG5TS0fuQDFjgjnnGlSiALJJ2x9-Q&usqp=CAU"
                            class="card-img-top" alt="..." style="height: 10em; width: 10em;">
                        <div class="card-body">
                            <p class="card-text">Mobiles</p>
                        </div>
                    </div>
                </a>
                <a href="/category/Laptop" class="btn">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0yjkhrx--p6qkGh_FUmLazUfMUmDx9XFbQA&usqp=CAU"
                            class="card-img-top" alt="..." style="height: 10em; width: 10em;">
                        <div class="card-body">
                            <p class="card-text">Laptops</p>
                        </div>
                    </div>
                </a>
                <a href="/category/Smart Devices" class="btn">
                    <div class="card">
                        <img src="https://m.media-amazon.com/images/I/41tEQogY3qL.jpg" class="card-img-top" alt="..."
                            style="height: 10em; width: 11em;">
                        <div class="card-body">
                            <p class="card-text">Smart Devices</p>
                        </div>
                    </div>
                </a>
                <a href="/category/Other Accessories" class="btn">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1573739022854-abceaeb585dc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvbmUlMjBhY2Nlc3Nvcmllc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            class="card-img-top" alt="..." style="height: 10em; width: 11em;">
                        <div class="card-body">
                            <p class="card-text">Other Accessories</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr>
        <h4>Products</h4>
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 16rem;">
                    <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="..." style="height: 19rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <h6 class="card-text">Rs.{{this.price}}</h6>
                        <p class="card-text">{{this.description}}</p>
                        <button   onclick="addTocart('{{this._id}}')" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>